/* Empty. Add your own CSS if you like */
#stateSelect{background-color: #009595; width:95%;height: 55px;border-radius: 10px;color: WHITE;font-weight: bold;padding: 0px 10px 0px 10px;margin: 10px 10px 10px 10px;}
.optionSelect{text-indent:48%;text-align: center;}
.menuImage{background-color: white;}
.itemImage{background-color: white;  color: #004545;font-weight: normal;border-color: transparent;}
.item-complex .item-content{background-color: white;border-style: hidden;}
.headerMenu{height: 75px;background-color: #004545; border-color: transparent;background-position: center;}
.list {margin-top: 20%;}
.bar.bar-balanced {background-color: #004545;  border-width: 0;border-style: hidden;border-top: 0 hidden transparent;border-bottom: 0 hidden;}
.logo{  background-image: url('../img/logo.png');background-repeat: no-repeat;background-size: contain;background-position: center;width: 100%;margin: 10px 10px 10px 10px}
.homeTop{background-image: url('../img/wheat.png');background-repeat: no-repeat;background-size: cover;background-position: top center;width: 100%;height: 100%;overflow: hidden;}
.col{padding: 0px;  margin-left: 5px;margin-right: 5px;margin-top: 10px;}
.row{padding: 0px}
.scroll {height: 100%}
.button{font-size:16px;margin-top: 0px !important; margin-bottom: 0px !important; color: white; font-weight: bold; background-color: #004545 !important;border-style: hidden;;background-color: white;}
.bottom{width:100%;float: left;position: absolute;bottom: 5%;}
.scroll-content {background-color: white;}
.mapFilter {text-align: center;position: absolute;width: 100%;z-index: 99;margin-top: -121px;}
.downArrow {font-size: 20px; color: darkred; background-color: transparent}
#inputSearch{margin: 0px 10px 0px 10px;}
.box{position: fixed; left:5%; top:15%; width:90%; height:70%; z-index:999; background:#fff;}
.box .content_modal{position: absolute; width:80%; top: 20%; left: 10%;bottom: 20%}
.box .float_content{display:block; padding: 20px 10px; background:#fff; border-radius:5px; text-align:center;}
.box .float_content p{padding:10px 20px 20px 20px; height:0%;font-size:16px}
.close_modal {position: relative; z-index: 9999; top: -10px;margin-right: -10px; color:darkred;font-size: 24px; float: right;}