<ion-view view-title="Estações Meteorológicas" style="height:100%;">
  <ion-content>
    <div class="box" id="modalconfirma" style="display: none;">
    
        <div class="float_content">
          <ion-scroll direction="y" class="box" style="text-align: left">
              <p class="st_name" style="text-align: center">Nome da Estação</p>
              <span class="fiveDays">Dados dos útimos 5 dias</span>
                <table class="st_data" border="1">
                  <tr>
                    <td>Temperatura Máx. Média:</td><td><span style="margin-left:5em" id="tempMean">  </span></td>
                  </tr>
                  <tr>
                    <td>Temperatura Mín. Média:</td><td><span style="margin-left:5em" id="HRMean">  </span></td>
                  </tr>
                  <tr>
                    <td>Total de Chuva:</td><td><span style="margin-left:5em" id="TotalRain">  </span></td>
                  </tr>
                </table>
                <div ng-controller="GraphController">
                  <div class="card" style="margin-top: 10px;">
                      <div class="item item-text-wrap">
                          <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="{showTooltips: false}"></canvas>
                      </div>
                  </div>
                </div>
          </ion-scroll>
        </div>
        <div class="close_modal_bottom">
          <button class="button button-royal">Voltar</button>
        </div>
    </div>
    <div ng-app="mapsApp" id="div_maps" ng-controller="MapCtrl" style="height:100%;">
      
      <div class="mapFilter">
        <select id="stateSelect"  onchange="filterMarkers(this.value);">
            <option class="optionSelect" value="">Estado</option>
          </select>
          <label class="item item-input" id="inputSearch">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="city" type="text"  placeholder="Pesquisar">
          </label>
          <div class="row">
            <div class="col downArrow" ng-click="showFilter();">
              <i id="arrow" class="ion-chevron-down"></i>
            </div>
          </div>
      </div>
      <div id="map" style="height:100%;" class="row"></div>
      <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
           <!--<a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>-->
      </div>
      
    </div>
  </ion-content>
</ion-view>

