<ion-view view-title="Estações Meteorológicas" style="height:100%;">
  <ion-content>
    <div class="box" id="modalconfirma" style="display: none;">
    <div class="close_modal"><i class="ion-close-circled"></i></div>
        <div class="float_content">
          <ion-scroll direction="y" class="box">
              <p>Deseja sair do meu vivo?</p>
          </ion-scroll>
        </div>
    </div>
    <div ng-app="mapsApp" id="div_maps" ng-controller="MapCtrl" style="height:100%;">
      
      <div class="mapFilter">
        <select id="stateSelect" onchange="filterMarkers(this.value);">
            <option class="optionSelect" value="">Estado</option>
          </select>
          <label class="item item-input" id="inputSearch">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="city" type="text"  placeholder="Pesquisar">
          </label>
          <div class="row">
            <div class="col downArrow">
              <i id="arrow" class="ion-chevron-down"></i>
            </div>
          </div>
      </div>
      <div id="map" style="height:100%;" class="row"></div>
      <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
           <!--<a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>-->
      </div>
      
    </div>
  </ion-content>
</ion-view>

