<ion-view view-title="Home">
  <ion-content>
    <div class="homeTop">
        <div class="logoHome"></div>
      <div class="bottom">
    	<div class="row">
  		  <div class="col">
    		<button class="button button-block button-home" ng-click="redirectTodadosEstacoes()">Resumo dos Dados</button>
  		  </div>
   		  <div class="col">
     		<button class="button button-block button-home" ng-click="redirectToperiodosAntigos()">Períodos Antigos</button>
  		  </div>
		</div>
		<div class="row">
  		  <div class="col">
      		<button class="button button-block button-home" ng-click="redirectToStations()">Estações Metereológicas</button>
  		  </div>
  		</div>
	  </div>
   </div>
  </ion-content>
</ion-view>
