<ion-view view-title="Home">
  <ion-content>
    <div class="homeTop">
      <div class="bottom">
    	<div class="row">
  		  <div class="col">
    		<button class="button button-block">Giberela</button>
  		  </div>
   		  <div class="col">
     		<button class="button button-block">Brusone</button>
  		  </div>
		</div>
		<div class="row">
  		  <div class="col">
      		<button class="button button-block">Estações Metereológicas</button>
  		  </div>
  		</div>
	  </div>
   </div>
  </ion-content>
</ion-view>
