<ion-view view-title="Dados de Períodos Antigos">
	 <ion-content ng-controller="PeriodosAntigosController">
	    <ion-tabs class="tabs-green tabs-icon-top">
		  <ion-tab title="Precipitação" icon-on="ion-ios-rainy" icon-off="ion-ios-rainy-outline">
             <h4 align="center" style="color: darkslategray">Dados da Estação</h4>
	           <select id="stationSelect"  onchange="getStationData();">
	            	<option class="optionSelect" value="">- Selecione uma Estação</option>
	        	</select>
	   			<table class="station_data" style="text-align: center">
	   			  <tr>
	   			  	<td>Dias</td>
	   			  	<td>Chuva Acumulada</td>
	   			  	<td>% dias sem chuva</td>
	   			  </tr>
				  <tr ng-repeat="x in dados">
				    <td>{{ x.label }}</td>
				    <td>{{ x.rain }}</td>
				    <td>{{ x.daysNoRain }}</td>
				  </tr>    
	           	</table>
		  </ion-tab>
		  <ion-tab title="Temperatura" icon-on="ion-thermometer" icon-off="ion-thermometer">
		   <h4 align="center" style="color: darkslategray">Dados da Última Observação</h4>
             <table>
				  <tr ng-repeat="x in dados">
				    <td>{{ x.label }}</td>
				    <td>{{ x.rain }}</td>
				    <td>{{ x.daysNoRain }}</td>
				  </tr>
				</table>

		  </ion-tab>

		  <ion-tab title="Fenômenos Extremos" icon-on="ion-alert-circled" icon-off="ion-alert-circled">
		    <!-- Tab 3 content -->
		  </ion-tab>

		</ion-tabs>
	</ion-content>
</ion-view>
