<ion-view view-title="Dados de Períodos Antigos">
	 <ion-content ng-controller="PeriodosAntigosController">
	    <ion-tabs class="tabs-green tabs-icon-top">
		  <ion-tab title="Precipitação" icon-on="ion-ios-rainy" icon-off="ion-ios-rainy-outline">
                <select id="stationSelect"  onchange="getStationData();">
	            	<option class="optionSelect" value="">- Selecione uma Estação</option>
	        	</select>
	        	<h4 align="center" style="color: darkslategray">Preciitação Últimos 90 dias</h4>
	   			<table class="station_data" style="text-align: center">
	   			  <tr>
	   			  	<td>Dias</td>
	   			  	<td>Chuva Acumulada</td>
	   			  	<td>% dias sem chuva</td>
	   			  </tr>
				  <tr ng-repeat="x in dadosChuva">
				    <td>{{ x.label }}</td>
				    <td>{{ x.rain }}</td>
				    <td>{{ x.daysNoRain }}</td>
				  </tr>    
	           	</table>
		  </ion-tab>
		  <ion-tab title="Temperatura" icon-on="ion-thermometer" icon-off="ion-thermometer">
		   <h4 align="center" style="color: darkslategray">Temperaturas Últimos 90 dias</h4>
           		 <table class="station_data" style="text-align: center">
	   			  <tr>
	   			  	<td>Dias</td>
	   			  	<td>Max</td>
	   			  	<td>Min</td>
	   			  </tr>
				  <tr ng-repeat="x in dadosTemperatura">
				    <td>{{ x.label }}</td>
				    <td>{{ x.tempMax }}</td>
				    <td>{{ x.tempMin }}</td>
				  </tr>    
	           	</table>
		  </ion-tab>

		  <ion-tab title="Fenômenos Extremos" icon-on="ion-alert-circled" icon-off="ion-alert-circled">
		     <h4 align="center" style="color: darkslategray">Fenômenos Extremos Últimos 90 dias</h4>
           		 <table class="station_data" style="text-align: center">
	   			  <tr>
	   			  	<td>Dias</td>
	   			  	<td>Tmin. > 35 °C</td>
	   			  	<td>Tmax. < 0 °C</td>
	   			  	<td>chuva > 100 mm</td>
	   			  </tr>
				  <tr ng-repeat="x in dadosExtremos">
				    <td>{{ x.label }}</td>
				    <td>{{ x.countMaxExt }}</td>
				    <td>{{ x.countMinExt }}</td>
				    <td>{{ x.chuvaExt }}</td>
				  </tr>    
	           	</table>
		  </ion-tab>

		</ion-tabs>
	</ion-content>
</ion-view>
